body {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	/*font-family: 'Varta', sans-serif;*/
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'PT Sans', sans-serif;
	overflow-x: hidden;
}

section {
	margin-top: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/******* Header *******/

header {
	margin-top: 60px;
}

nav {
	float: right;
	margin-top: 15px;
	vertical-align: baseline;
}

nav a {
	color: #000;
	text-align: center;
	margin: 5px;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	transition: color .5s;
}

nav a::after {
    content: '';
	display: block;
    width: 0;
    height: 2px;
    transition: width .5s;
    background: #0096aa;
}

nav a:hover{
	color: #0096aa;
}

nav a:hover::after {
    width: 100%;
}

.current{
	font-weight: bold;
}

header h1 a {
	text-decoration: none;
	color: #000;
	font-size: 45px;
	transition: color .5s;
}

header h1 a:hover {
	color: #0096aa;
}