.section_exp {
	margin-top: 50px;
	width: 85%;
}

.exp{
	border-bottom: 2px dashed #000;
	
}

.exp h2 {
	font-size: 25px;
	margin-bottom: 10px;
}

.exp a{
	text-decoration: none;
	color: #000;
	border-bottom: 2px solid transparent;
	transition: color .5s;
	transition: border-bottom .5s;
}

.exp a:hover{
	color: #0096aa;
	border-bottom: 2px solid #0096aa;
}

.pos_date {
	display: inline-block;
	width: 100%;
	font-size: 20px;
}

.pos_date p {
	margin-top: 0px;
	margin-bottom: 10px;
}

.pos {
	float: left;
}

.date {
	float: right;
}

.des {
	width: 100%;
	font-size: 20px;
}

.des ul {
	list-style-type: square;
	margin-top: 0px;
}