/**********About me ***********/

.about_me {
	width: 80%;
	margin-top: 50px;
}

.about_me h2 {
	font-size: 35px;
	margin-bottom: 10px;
}

.about_me p {
	font-size: 25px;
	font-weight: 300;
	margin-top: 0px;
}

.about_me p a {
	text-decoration: none;
	color: #000;
	border-bottom: 2px solid #000;
	transition: all .5s;
}

.about_me p a:hover {
	color: #0096aa;
	border-bottom: 2px solid #0096aa;
}


/******* Footer *******/

.contact_info {
	font-size: 20px;
	display: inline;
	text-align: center;
}

.feel_free {
	margin-top: 50px;
	margin-bottom: 0px;
}

.icons {
	margin-top: 10px;
}

.icons a {
	text-decoration: none;
}

.contact_info ion-icon {
	vertical-align: middle;
	font-size: 40px;
	color: #000;
	padding: 10px;
	border-radius: 90px;
	transition: color .5s;
}

.contact_info ion-icon:hover {
	color: #0096aa;
}